html,
body {
    min-height: 100%;
    margin: 0;
}

body {
    background-image: url("images/brasil6.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/* NAVIGATION */

nav {
    background-color: black;
    padding: 10px;
}

nav a {
    color: white;
    padding: 20px;
    display: block;
}

/* MAIN */

main {
    max-width: 840px;

}

main h1 {
    color: white;
    text-align: center;
    margin: 10px 10px 100px 10px;
}

main img {
    width: 150px;
    height: auto;
    text-align: left;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

main p {
    color: white;
    padding: 0;
    width: 840px;
    font-size: 24px;
}

/* ASIDE */

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: white;
    color: black;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
    text-align: center;
    display: block;
    margin: 0 auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid black;
    text-align: center;

}