html,
body {
    min-height: 100%;
    margin: 0;
}

body {
    background-image: url("../week01/images/brasil6.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

main h1 {
    color: white;
    text-align: center;
    margin: 10px 10px 100px 10px;
}

main img {
    width: 300px;
    height: auto;
    text-align: left;
}

main p {
    color: white;
    padding: 0;
    width: 900px;
    font-size: 24px;
}

aside h2 {
    color: white;
    text-align: center;
    margin: 100px 10px 100px 10px;
}

aside img {
    width: 500px;
    height: auto;
    text-align: center;
    display: block;
    margin: 0 auto;
}

aside p {
    color: white;

    font-size: 24px;
    text-align: center;
}

footer {
    margin-top: 15px;
    border-top: 1px solid black;
    text-align: center;

}